/* font */

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1125px;
  height: 1125px;
  background: url("./assets/g-pic.png") no-repeat;
  background-size: 1125px 1125px;
}

@media (min-width: 768px) {
  body::before {
    background: url("./assets/g-pic@2x.png") no-repeat;
    background-size: 1125px 1125px;
  }
}
