.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  max-width: 500px;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2.5rem;
}

.text_box {
  display: flex;
  gap: 0.5rem;
}

.letter {
  transform-origin: 50% 100%;
  font-size: 3rem;
  font-weight: 200;
}
